
.tabs-title{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    list-style-type: none;
}
.tabs-title:hover {
    background-color: #ddd;
}
.active{
    background-color: #ccc;
}
.tabs{
    position: absolute;
}
.tabs-content{
   position: relative;
   top: 65px;
    width: 500px;
}
.tab-content{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
